:root {
  --yellow: #e1b517;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-box {
  width: 50%;
  height: 50%;
  margin-top: 10%;
  padding: 2rem;
  border: 1px solid var(--yellow);
}
.todo-box h1,
form {
  text-align: center;
  margin: 15px;
}
.todo-box h1 {
  color: var(--yellow);
}
form input,
#add {
  padding: 8px;
  border-radius: 10px;
  border: none;
}
form #add:hover {
  background-color: var(--yellow);
  cursor: pointer;
}
form input {
  width: 60%;
}
#list {
  padding: 10px;
}
#list .task {
  color: white;
  list-style: none;
  padding: 7px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--yellow);
  background-color: rgb(21, 22, 33);
}
.task .buttons button {
  margin: 3px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  font-weight: normal;
  color: white;
}
.buttons button:hover {
  cursor: pointer;
}
.buttons .delete-btn {
  background-color: red;
}
.buttons .done-btn {
  background-color: green;
}
